body {
    background-color: #000;
    -webkit-tap-highlight-color: transparent;
}

#login-overlay {
    background: radial-gradient(circle at 50% 10%, #2a1b3d 0%, #000 80%);
}

.glass-tile {
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.05);
}

#mini-player {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

/* Fix for smooth scrolling */
::-webkit-scrollbar {
    display: none;
}
